@model List<UserViewModel>
@{
	ViewData["Title"] = "Manage Users";

	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["RoleUpdateSuccessMessage"] != null)
{
	<div class="alert alert-success" role="alert">
		@TempData["RoleUpdateSuccessMessage"]
	</div>
}

@if (TempData["SuccessDeleteMessage"] != null)
{
	<div class="alert alert-secondary" role="alert">
		@TempData["SuccessDeleteMessage"]
	</div>
}
else if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success" role="alert">
		@TempData["SuccessMessage"]
	</div>
}
else if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger" role="alert">
		@TempData["ErrorMessage"]
	</div>
}

<h2 class="text-center">@ViewData["Title"] </h2>
<hr/>

<div class="card-body">
	<table id="id" class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>Id</th>
			<th>Email</th>
			<th>Full Name</th>
			<th>Role</th>
			<th>IsActive</th>
			<th style="width: 250px;">Actions</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.Email</td>
				<td>@user.FullName</td>
				<td>@user.Role</td>
				<td>
					<input type="checkbox" disabled @(user.IsActive ? "checked" : "")/>
				</td>
				<td>

					<!-- Edit button -->
					<form asp-controller="User" asp-action="Edit" method="get" style="display : inline;">
						<input type="hidden" name="id" value="@user.Id"/>
						<button type="submit" class="btn btn-secondary btn-sm fw-bold">Edit</button>
					</form>

					<!-- Details button -->
					<form asp-controller="User" asp-action="Details" method="get" style="display : inline;">
						<input type="hidden" name="id" value="@user.Id"/>
						<button type="submit" class="btn btn-info btn-sm fw-bold">Details</button>
					</form>

					<!-- Update Role button -->
					<form asp-controller="User" asp-action="UpdateRole" method="get" style="display : inline;">
						<input type="hidden" name="id" value="@user.Id"/>
						<button type="submit" class="btn btn-warning btn-sm fw-bold">Update Role</button>
					</form>

					<!-- Delete button -->
					<form asp-controller="User" asp-action="Delete" method="get" style="display : inline;">
						<input type="hidden" name="id" value="@user.Id"/>
						<button type="submit" class="btn btn-danger btn-sm fw-bold">Delete</button>
					</form>
				</td>
			</tr>
		}
		</tbody>
	</table>

	@* Include necessary scripts for DataTables.js and DataTables.Export *@

	@section scripts
	{
		<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
		<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
		<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
		<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
		<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
		<script src="~/plugins/jszip/jszip.min.js"></script>
		<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
		<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
		<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
		<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
		<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
	}

	<script>
  $(function () {
	$("#example1").DataTable({
	  "responsive": true, "lengthChange": false, "autoWidth": false,
	  "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
	}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
	$('#example2').DataTable({
	  "paging": true,
	  "lengthChange": false,
	  "searching": false,
	  "ordering": true,
	  "info": true,
	  "autoWidth": false,
	  "responsive": true,
	});
  });
</script>
</div>