@model UserEditFormModel

@{
	ViewData["Title"] = "Edit User Information";
}

<div class="container">
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger" role="alert">
			@TempData["ErrorMessage"]
		</div>
	}

	<h1>@ViewData["Title"]</h1>
	<hr/>

	<div class="row">
		<div class="col-md-6">
			<form asp-controller="User" asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id"/>

				<div class="mb-3">
					<label for="@Model.FirstName" class="form-label">First Name</label>
					<input asp-for="FirstName" class="form-control"/>
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label for="@Model.LastName" class="form-label">Last Name</label>
					<input asp-for="LastName" class="form-control"/>
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label for="@Model.BirthDate" class="form-label">Birthdate</label>
					<input asp-for="BirthDate" class="form-control"/>
					<span asp-validation-for="BirthDate" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label for="@Model.Address" class="form-label">Address</label>
					<input asp-for="Address" class="form-control"/>
					<span asp-validation-for="Address" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label for="@Model.PhoneNumber" class="form-label">Phone Number</label>
					<input asp-for="PhoneNumber" class="form-control"/>
					<span asp-validation-for="PhoneNumber" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label for="@Model.Email" class="form-label">Email</label>
					<input asp-for="Email" class="form-control"/>
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="form-check mb-3">
					<input class="form-check-input" type="checkbox" asp-for="IsActive"/>
					<label class="form-check-label" for="@Model.IsActive">Is Active</label>
				</div>

				<button type="submit" class="btn btn-primary">Save</button>
				<a class="btn btn-secondary" asp-controller="User" asp-action="All">Back to List</a>
			</form>
		</div>
	</div>
</div >

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}