@model IEnumerable<SchoolViewModel>

@{
    var gridClass = "four-buttons";
}

<table id="schoolsTable" class="table table-bordered table-active table-hover custom-table">
    <thead>
        <tr>
            <th class="name-col">Name</th>
            <th class="address-col">Address</th>
            <th class="email-col">Email</th>
            <th class="phone-col">Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model)
        {
            <tr>
                <td class="name-col">@school.Name</td>
                <td class="address-col">@school.Address</td>
                <td class="email-col">@school.Email</td>
                <td class="phone-col">@school.PhoneNumber</td>
                <td>
                    <div class="action-container @gridClass">

                            <!-- Edit button -->
                            <form asp-controller="School" asp-action="Edit" method="get">
                                <input type="hidden" name="id" value="@school.Id" />
                                <button type="submit" class="btn btn-secondary btn-sm fw-bold action-btn">Edit</button>
                            </form>

                            <!-- Details button -->
                            <form asp-controller="School" asp-action="Details" method="get">
                                <input type="hidden" name="id" value="@school.Id" />
                                <button type="submit" class="btn btn-info btn-sm fw-bold action-btn">Details</button>
                            </form>

                        <!-- Manage Classrooms button -->
                        <form asp-controller="Classroom" asp-action="Manage" method="get">
                            <input type="hidden" name="schoolId" value="@school.Id" />
                            <button type="submit" class="btn btn-primary btn-sm fw-bold action-btn">Manage</button>
                        </form>

                        <!-- Delete button -->
                        <form asp-controller="School" asp-action="Delete" method="get">
                            <input type="hidden" name="id" value="@school.Id" />
                            <button type="submit" class="btn btn-danger btn-sm fw-bold action-btn">Delete</button>
                        </form>
                        </div>
                </td>
            </tr>
        }
    </tbody>
</table>