@model IEnumerable<SchoolDetailsViewModel>

<table id="schoolsTable" class="table table-bordered table-active table-hover custom-table">
    <thead>
        <tr>
            <th class="name-col">Name</th>
            <th class="address-col">Address</th>
            <th class="email-col">Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model)
        {
            <tr>
                <td class="name-col">@school.Name</td>
                <td class="address-col">@school.Address</td>
                <td class="email-col">@school.Email</td>
                <td>
                    <form asp-controller="School" asp-action="Edit" method="get" style="display: inline;">
                        <input type="hidden" name="id" value="@school.Id" />
                        <button type="submit" class="btn btn-secondary btn-sm fw-bold">Edit</button>
                    </form>
                    <form asp-controller="School" asp-action="Details" method="get" style="display: inline;">
                        <input type="hidden" name="id" value="@school.Id" />
                        <button type="submit" class="btn btn-info btn-sm fw-bold">Details</button>
                    </form>
                    <form asp-controller="Classroom" asp-action="Manage" method="get" style="display: inline;">
                        <input type="hidden" name="schoolId" value="@school.Id" />
                        <button type="submit" class="btn btn-primary btn-sm fw-bold">Manage</button>
                    </form>
                    <form asp-controller="School" asp-action="Delete" method="get" style="display: inline;">
                        <input type="hidden" name="id" value="@school.Id" />
                        <button type="submit" class="btn btn-danger btn-sm fw-bold">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
