@model SchoolViewModel

@{
	ViewData["Title"] = "School Details";
}

<div class="container mt-5">
	<h1 class="mb-4">@ViewData["Title"]</h1>
	<hr/>

	<dl class="row">
		<dt class="col-sm-3">Name:</dt>
		<dd class="col-sm-9">@Model.Name</dd>

		<dt class="col-sm-3">Address:</dt>
		<dd class="col-sm-9">@Model.Address</dd>

		<dt class="col-sm-3">Email:</dt>
		<dd class="col-sm-9">@Model.Email</dd>

		<dt class="col-sm-3">Phone Number:</dt>
		<dd class="col-sm-9">@Model.PhoneNumber</dd>

		<dt class="col-sm-3">Is Active:</dt>
		<dd class="col-sm-9">@Model.IsActive</dd>

	</dl>

	<div class="mt-4">
		<a class="btn btn-primary mr-3" asp-controller="School" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
		<a class="btn btn-secondary" asp-controller="School" asp-action="All">Back to List</a>
	</div>
</div>